.content {
    flex: 1;
    width: 100%;
    width: 100%;
    padding-left: 25px;

    h1 {
        font-weight: 600;
    }

    input[type=text] {
        background-color: #DADADA;
        padding: 16px 24px;
        border: none;
        border-radius: 5px;
        width: 100%;
    }

    textarea {
        background-color: #DADADA;
        padding: 16px 24px;
        border: none;
        border-radius: 5px;
        width: 100%;
        min-height: 100px;
        font-family: "Poppins";
    }

    .checkbox_row {
        display: flex;
        align-items: center;
        margin: 10px 0px;

        p {
            margin: 0;
        }
    }

    .text_small {
        font-size: 12px;
    }
}