.content {
    flex: 1;
    width: 100%;
    width: 100%;
    padding-left: 25px;

    h1 {
        font-weight: 600;
    }

    input[type=text], input[type=number] {
        background-color: #DADADA;
        padding: 16px 24px;
        border: none;
        border-radius: 5px;
        width: 100%;
    }

    textarea {
        background-color: #DADADA;
        padding: 16px 24px;
        border: none;
        border-radius: 5px;
        width: 100%;
        min-height: 100px;
        font-family: "Poppins";
    }

    .checkbox_row {
        display: flex;
        align-items: center;
        margin: 10px 0px;

        p {
            margin: 0;
        }
    }

    .text_small {
        font-size: 12px;
    }
}

.category_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 24px;

    div {
        border-radius: 30px;
        padding: 10px 20px;
        box-shadow: #c7c7c7 0px 7px 7px 0px;
        cursor: pointer;
        width: 30%;
        margin-bottom: 15px;
        font-size: 12px;
        min-height: 100px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
            text-align: center;
        }

        img {
            width: 32px;
        }
    }

    div.active {
        background-color: #DE354C;
        box-shadow: none;
        color: #f3f3f3;
    }
}