.content {
    flex: 1;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 100%;
    }

    div {
        flex: 1;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;

        input[type=text], input[type=number] {
            background-color: #DADADA;
            padding: 16px 24px;
            border: none;
            border-radius: 5px;
            width: 100%;
        }

        p {
            font-size: 16px;
        }
    }
}